<!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>Hi! My name is {{name}}</div>

-->

<h1>{{title}}</h1>
<p>Welcome to a list of {{title}}</p>

<ul>
    {{#each cats}}
    <li>{{name}}</li>
    {{/each}}
</ul>